<div class="sign-main">
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "devise-button" %>
  <% if user_signed_in? %>
    <p class="logged-as">Logged in as <%= current_user.try(:name) %></p>
  <% end %>
  <% unless user_signed_in? %>
  <button class="devise-button">
    <%= link_to "Log in", new_user_session_path, class: "link-login"%>
  </button>
  <% end %>
</div>

<div class="recipes-container">
  <% @groups.each do |group| %>
  <div class="recipe-card">
    <div class="recipe-title">
      <h2 class="recipe_name"><%= link_to group.name, group_path(id: group.id) %></h2>
      <% if can? :destroy && user_signed_in? , group %>
        <%= button_to "Remove", group_path(id: group.id), data: { turbo_method: :delete }, method: :delete, "turbo-frame": "groups" , class: "btn-all" %>
      <% end %>
    </div>
  </div>
  <% end %>


  <div class="add-recipe">
    <button class="btn-all add-recipe"><%= link_to "Add group", new_group_path %></button>
  </div>
</div>

<%# <%= truncate(recipe.description, length: 40, omission: "...") %> 