<div class="login-page">
<div class="login-header" style=" display: flex; justify-content: space-between;width: 100%; text-align:center; margin: auto;">
<h2 style="color:white; font-size: 20px;font-weight:100; text-align:center">Catagories</h2>
<p style="color:white; font-size: 24px"></p>
</div>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<% @groups.each do |group| %>
  <a class="container-pic" href=<%= group_path(group) %>>
     <img src="<%= group.icon %>" />
     <div class="name-time">
       <h2><%= group.name %></h2>
       <p class="time-and-date">
        <%= group.created_at.strftime('%d %b %y') %>
      </p>
     </div>
     <p class="amount-dolar">$<%= @group_totals&.[](group.id) %>0</p>
   </a>
  
<%end%>
<div class="add-new-item">
<%= link_to "Add Catagories", new_group_path ,class:"add-new"%>
</div>
</div>