<div class="login-page">
<div class="login-header">
  <a href=<%= groups_path(@group) %> >
  <i class="fa fa-arrow-left" style="color:white; font-size: 16px; margin-left:20px" ></i>
  </a>
<h2 style="color:white; font-size: 20px; margin-right: 80px; font-weight: 100">Add a new transaction</h2>
<p style="color:white; font-size: 24px"></p>
</div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= form_with(model: @group, url: groups_path) do |form| %>
    <% if @group.errors.any? %>
      <div style="color: red">
        <ul>
          <% @group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <br>
    <div class="field">
      <%= form.text_field :name, required: true, placeholder: "Group name", class:"input-form"  %>
    </div>
    <br>
    <div class="field">
      <%= form.text_field :icon, required: true, placeholder: "Icon", class:"input-form" %>
    </div>
    
    <div class="actions">
      <%= form.submit "Save" , class:"log-in-btn"%>
    </div>
  <% end %>

</div>